[submodule "libraries/marbastlib"]
	path = libraries/marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "libraries/random-keyboard-parts.pretty"]
	path = libraries/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
